# **Applied Statistics Project - Analysis on PlantGrowth R Dataset** 
___

This notebook contains my analysis of the PlantGrowth R dataset. 

**Author: Brianne McGrath**
___

## **Dataset Overview**

The **PlantGrowth** dataset contains results from an experiement designed to compare the dried weight yields of plants under different treatement conditions. The dataset includes measurements for a **control group** (`ctrl`) and two **treatment groups** (`trt1`) and (`trt2`). Within the datset we have the following variables: 
- **weight:** The dried weight of the plants. 
- **group:** The treatment group of the plant. 

There are 30 results in total. 
___

## **Imports**

In [9]:
# import necessary libraries 
import pandas as pd

In [2]:
# loading dataset
df = pd.read_csv('data/plant_growth.csv')

In [6]:
df.head()

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl